.header {
    position: relative;
    margin-top: -3px;
    padding-top: clamp(15px, -15px + 3.91vw, 60px);
    padding-bottom: 420px;
    background-image: url("../img/header-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media(max-width: 1919px) {
        padding-bottom: remy(420);
    }

    @media (max-width: 767px) {
        padding-top: 15px;
        padding-bottom: 40px;
    }
}

.header__title {
    max-width: 941px;

    @media(max-width: 1919px) {
        max-width: remy(941);
    }

    @media(max-width: 767px) {
        max-width: unset;
    }
}


.header__image {
    width: 1118px;
    height: 1269px;
    position: absolute;
    top: 0;
    left: 46%;
    transform: translateX(-60px);

    @media(max-width: 1919px) {
        width: remy(1118);
        height: remy(1269);
        left: auto;
        right: 0;
    }

    @media(max-width: 1700px) {
        left: auto;
        right: 0;
    }

    @media (max-width: 767px) {
        display: none;
    }
}

.header__image-mob {
    display: none;

    @media (max-width: 767px) {
        position: relative;
        z-index: 1;
        display: block;
        margin-top: -155px;
        margin-right: auto;
        margin-left: auto;
    }
}

.header__logo {
    margin-bottom: clamp(38px, 20px + 4.5vw, 92px);
    width: clamp(98px, 59px + 9.75vw, 215px);
    height: clamp(41px, 24.7px + 4.08vw, 90px);
}

.header__content {
    display: flex;
    flex-direction: column;
    row-gap: 58px;

    @media (max-width: 767px) {
        flex-direction: column-reverse;
        row-gap: 40px;
    }

}

.header__text {
    max-width: 700px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: var(--white);

    @media(max-width: 1919px) {
        max-width: remy(700);
        font-size: remy(20);
    }


    @media (max-width: 767px) {
        max-width: unset;
        font-size: 16px;
    }

    p + p {
        margin-top: 28px;

        @media(max-width: 1919px) {
          margin-top: remy(28);
        }
    }

    span {
        color: var(--yellow);
    }

}

.header__list {
    margin-top: 12px;
    margin-bottom: 28px;

    @media (max-width: 767px) {
        margin-top: 8px;
        margin-bottom: 16px;
    }
}

.header__list li {
    padding-left: 20px;
    position: relative;

    &::before {
        position: absolute;
        left: 0;
        content: "";
        top: 33%;
        width: 12px;
        height: 12px;
        background-color: var(--yellow);

        @media(max-width: 1919px) {
            width: remy(12);
            height: remy(12);
          }

          @media(max-width: 767px) {
            width: 8px;
            height: 8px;
          }

    }
}

.header__btn {
    @media (max-width: 767px) {
        margin-top: -100px;
    }
}


