.header {
    margin-top: -3px;
    padding-top: clamp(15px, -15px + 3.91vw, 60px);
    padding-bottom: 420px;
    background-image: url("../img/header-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: 767px) {
        padding-top: 15px;
        padding-bottom: 40px;
    }
}

.header__wrapper {
    position: relative;
}


.header__title {
    max-width: 941px;
}

.header__images {
    position: absolute;
    top: -40px;
    bottom: 0;
    right: -139px;
    width: 1113px;
    aspect-ratio: 1113 / 1292;
    // width: clamp(1113px, 15.72rem + 44.87vw, 1292px);
    // height: clamp(21.375rem, 5.75rem + 62.5vw, 80.75rem);

    .header__images-img1 {
        width: 1118px;
        aspect-ratio: 1118 / 1269;
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
    }

    .header__images-img2 {
        width: 693px;
        // height: 852px;
        aspect-ratio: 693 / 852;
        position: absolute;
        top: 0;
        left: 160px;
        z-index: 1;
    }

    @media (max-width: 1780px) {
        width: 900px;
        top: 90px;
        right: -50px;

        .header__images-img2 {
            width: 500px;
        }
    }
    @media (max-width: 1498px) {
        position: relative;
    }
}

.header__logo {
    margin-bottom: clamp(38px, 20px + 4.5vw, 92px);
    width: clamp(98px, 59px + 9.75vw, 215px);
    height: clamp(41px, 24.7px + 4.08vw, 90px);
}

.header__content {
    display: flex;
    flex-direction: column;
    row-gap: 58px
}

.header__text {
    // width: 42%;
    max-width: 700px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: var(--white);

    p + p {
        margin-top: 28px;
    }

    span {
        color: var(--yellow);
    }

    @media (max-width: 767px) {
        font-size: 16px;
    }
}

.header__list {
    margin-top: 12px;
    margin-bottom: 28px;

    @media (max-width: 767px) {
        margin-top: 8px;
        margin-bottom: 16px;
    }
}

.header__list li {
    padding-left: 20px;
    position: relative;

    &::before {
        position: absolute;
        left: 0;
        content: "";
        top: 33%;
        width: 12px;
        height: 12px;
        background-color: var(--yellow);
    }
}


