.info {
    padding-block: 98px;
    position: relative;

    @media(max-width: 400px) {
        padding-top: 60px;
    }

    &::before {
        position: absolute;
        content: "";
        background-image: url("../img/info-bg.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        @media(max-width: 797px) {
            background-image: url("../img/info-bg-mob.svg");
            bottom: -195px;
        }
    }
}

.info__title {
    margin-bottom: 40px;

    @media (max-width: 767px) {
        margin-bottom: 28px;
    }
}

.info__block {
    font-size: 20px;
    line-height: 1.4;
    color: var(--white);

    @media (max-width: 767px) {
        font-size: 16px;
    }
}

.info__block + .info__block {
    margin-top: 80px;

    @media (max-width: 767px) {
        margin-top: 48px;
    }
}

.info__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;

    @media (max-width: 1400px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }

    @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.info__subtitle  {
    position: relative;
    margin-bottom: 8px;
    padding-left: 24px;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 1.4;
    text-transform: uppercase;

    &::before {
        position: absolute;
        left: 0;
        content: "";
        top: 9px;
        width: 12px;
        height: 12px;
        background-color: var(--yellow);
    }
}

.info__text {
    font-family: var(--second-family);
}

.info__list {
    font-family: var(--second-family);
    line-height: 1.2;
    color: var(--white);

    li {
        display: flex;
        gap: 8px;
    }

    li + li {
        margin-top: 20px;
    }
}