.quantity {
    position: relative;
    margin-top: -130px;
    z-index: 5;

    @media (max-width: 767px) {
        margin-top: 0px;
    }
}

.quantity__wrapper {
    padding-block: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--dark-blue);
    border-radius: 10px;
    background-color: var(--white);

    @media(max-width: 1919px) {
        padding-block: remy(60);
    }

    @media (max-width: 1260px) {
        flex-direction: column;
        gap: 12px;
    }

    @media (max-width: 767px) {
        padding-block: 20px;
        gap: 8px;
    }
}
.quantity__text {
    font-size: 56px;
    text-transform: uppercase;
    color: var(--blue);

    @media(max-width: 1919px) {
        font-size: remy(56);
    }

    @media (max-width: 767px) {
        font-size: 24px;
    }
}

.counter {
    display: flex;
    gap: 12px;
    margin-inline: 52px;
    background-color: var(--white);

    @media(max-width: 1919px) {
        margin-inline: remy(52);
        gap: remy(12);
    }

    @media (max-width: 767px) {
        gap: 4px;
        margin-inline: unset;
}
}

.counter__num {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 140px;
    border-radius: 6px;
    background: var(--text);
    box-shadow: inset 2px 4px 4px 0 rgba(255, 255, 255, 0.25), 1px 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-image: url("../img/border.svg");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

    @media(max-width: 1919px) {
        width: remy(86);
        height: remy(140);
        border-radius: remy(6);

        img {
            width: remy(48);
            height: remy(46);
        }
    }

    @media (max-width: 767px) {
        border-radius: 4px;
        width: 36px;
        height: 58px;

        img {
            width: 20px;
            height: 19px;
        }
    }
}