//FOOTER
footer.footer
    .container
        .footer__row
            .footer__copyright &copy; 2025 ХК Сочи. Все права защищены.
            a(href="#!").footer__link Политика конфиденциальности
            a(href="#!").footer__link Пользовательское соглашение