// HEADER
header.header
   .container
      .header__wrapper
         .header__logo
            img(src="./img/logo.svg" alt="logo" width="215" height="90")
         .header__title
            h1.headline #[span Уникальные <br> джерси] ХК&nbsp«Сочи» <br> к 10-летию клуба!
         .header__images
            img(src="./img/header-img1.webp" srcset="./img/header-img1@2x.webp 2x" alt="header img" class="header__images-img1")
            img(src="./img/header-img2.webp" srcset="./img/header-img2@2x.webp 2x" alt="header img" class="header__images-img2")
         .header__content
            .header__text
               p В честь юбилея ХК Сочи мы представляем эксклюзивную коллекцию игровых джерси сезона 2024–2025. Каждое джерси — это не просто форма, а часть истории клуба, которую вы можете забрать с собой.
               p Комплект включает:
               ul.header__list
                  li Фирменное игровое джерси
                  li Сертификат подлинности, подтверждающий уникальность
               p Спешите приобрести свой экземпляр — #[span всего 32 джерси в коллекции!]
            .header__btn
               a.btn Выбрать джерси
                  svg.svg-right
                     use(href="./img/spriteSvg.svg#svg-right")