//INFO
section.info
    .container
        //INFO-block
        .info__block
            .info__title
                h2.subtitle.subtitle--blue Почему стоит приобрести джерси ХК Сочи?
            .info__row
                .info__col
                    h3.info__subtitle Эксклюзивность:
                    p.info__text Каждое джерси выпущено в единственном экземпляре к 10-летнему юбилею ХК Сочи
                .info__col
                    h3.info__subtitle Качество:
                    p.info__text Лучшее материальное исполнение для юбилейной формы, с вниманием к деталям
                .info__col
                    h3.info__subtitle История:
                    p.info__text Станьте частью легенды ХК Сочи, поддержав клуб в его первый юбилей
                .info__col
                    h3.info__subtitle Сертификат подлинности:
                    p.info__text Гарантия уникальности и подлинности вашего джерси, заверенная генеральным менеджером клуб
        //INFO-block
        .info__block
            .info__title
                h2.subtitle.subtitle--blue Как оформить заказ?
            ol.info__list
                li 1. Выберите джерси в галерее выше.
                li 2. Нажмите кнопку «Купить».
                li 3. Оформите заказ в нашем интернет-магазине.
                li 4. Получите джерси с сертификатом подлинности.
        //INFO-block
        .info__block
            .info__title
                h2.subtitle.subtitle--blue остались вопросы?
            ul.info__list
                li Свяжитесь с нами:
                li Телефон:
                    a(href="tel:+79282332669") +7 928 233 26 69
                li Email:
                    a(href="mailto:shop@hcsochi.ru") shop@hcsochi.ru


