// PRODUCTS
section.products
    .container
        // PRODUCTS-BLOCK
        .products__block
            .products__title
                h2.subtitle Вратари
            // CARDS WRAPPER
            .products-wrapper
                +card("игровое время 2:27:20", "Сергей <br> Иванов", "goalkeeper01", "30")
                +card("игровое время 33:49", "Евгений <br> Волохин", "goalkeeper02", "35")
        // PRODUCTS-BLOCK
        .products__block
            .products__title
                h2.subtitle Нападающие
            // CARDS WRAPPER
            .products-wrapper
                +card("игровое время 1:13:55", "Артур <br> Тянулин", "forward01", "13")
                +card("игровое время 1:12:47", "Сергей <br> Попов", "forward02", "34")
                +card("игровое время 1:05:06", "Даниил <br> Сероух", "forward03", "97")
                +card("игровое время 32:56", "Тимур <br> Хафизов", "forward04", "87")
                +card("игровое время 55:59", "Данил <br> Авершин", "forward05", "19")
                +card("игровое время 54:06", "Денис <br> Венгрыжановский", "forward06", "9")
                +card("игровое время 46:00", "Андрей <br> Никонов", "forward07", "79")
                +card("игровое время 38:32", "Илья <br> Федотов", "forward08", "72")(class="sold-out")
                +card("игровое время 37:22", "Николай <br> Чебыкин", "forward09", "75")
                +card("игровое время 32:56", "Александр <br> Хохлачев", "forward10", "93")
                +card("игровое время 29:34", "Уильям <br> Биттен", "forward11", "41")
                +card("игровое время 28:45", "Кирилл <br> Рассказов", "forward12", "12")
                +card("игровое время 26:22", "Артемий <br> Кузнецов", "forward13", "91")
                +card("игровое время 25:04", "Александр <br> Яремчук", "forward14", "95")
                +card("игровое время 12:01", "Дмитрий <br> Уткин", "forward15", "15")
                +card("игровое время 11:52", "Игорь <br> Швырёв", "forward16", "84")
                +card("игровое время 11:51", "Егор <br> Спиридонов", "forward17", "18")
                +card("игровое время 10:03", "Дмитро <br> Тимашов", "forward18", "17")
                +card("игровое время 6:41", "Федор <br> Аврамов", "forward19", "56")
                +card("игровое время 6:14", "Алексей <br> Васильков", "forward20", "29")
        // PRODUCTS-BLOCK
        .products__block
            .products__title
                h2.subtitle Защитники
            // CARDS WRAPPER
            .products-wrapper
                +card("игровое время 1:18:15", "Максим <br> Федотов", "defender01", "65")
                +card("игровое время 1:09:02", "Василий <br> Мачулин", "defender02", "23")
                +card("игровое время 1:00:38", "Артём <br> Волков", "defender03", "11")
                +card("игровое время 50:48", "Глеб <br> Корягин", "defender04", "88")
                +card("игровое время 42:56", "Данил <br> Мокрушев", "defender05", "14")
                +card("игровое время 37:26", "Джесси <br> Грэм", "defender06", "64")
                +card("игровое время 34:37", "Роман <br> Манухов", "defender07", "26")
                +card("игровое время 30:30", "Аким <br> Тришин", "defender08", "73")
                +card("игровое время 23:51", "Никита <br> Баклашёв", "defender09", "38")
                +card("игровое время 12:13", "Фёдор <br> Крощинский", "defender10", "55")







