// QUANTITY
section.quantity
    .container
        .quantity__wrapper
            .quantity__text Осталось
            // counter
            .counter
                .counter__num
                    img(src="./img/numbers/0.svg" data-num="3" alt="num" width="48" height="46")
                .counter__num
                    img(src="./img/numbers/0.svg" data-num="2" alt="num" width="48" height="46")
            .quantity__text джерси
