:root {
	--container-width: 1712px;

	--font-family: "Tuerca Black", sans-serif;
	--second-family: "Golos Text", sans-serif;
	--third-family: "Tuerca Bold", sans-serif;

	--yellow: #ffb600;
	--dark-blue: #0a2240;
	--white: #fff;
	--blue: #006578;
	--text: #030405;
	--light-blue: #d5e8ee;
	--blue-accent: #53b6da;
	--color-grey: #4a5c6f;
}