extends ../layouts/layout.pug

block variables
	-var title = "Page";

block content
	include ../sections/header.pug
	main
		include ../sections/quantity.pug
		include ../sections/products.pug
		include ../sections/info.pug
	include ../sections/footer.pug

